@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #bbbbbb;
  --text: #171717;
  --pink: #FF3CAC;
  --violet: #784BA0;
  --blue: #2B86C5;
  --lilac: #B18BE6;
  --cyan: #66D9EF;
  --darkViolet: #2A064F;
  --white: #FFFFFF;
  --lightGray: #E7EBF2;
  --gray: #AAB0C0;
  --black: #111827;
   color-scheme: light !important;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-pink: var(--pink);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #000000;
    --foreground: #ededed;
    --text: #fff
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}